<script>
import { sidebarItems } from '@/configs/routes';

export default {
  data() {
    return {
      drawer: true,
      items: sidebarItems,
      mini: false,
    };
  },
};
</script>

<template>
  <v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" permanent>
    <v-list-item class="px-2">
      <v-list-item-avatar>
        <v-img
          src="https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg?crop=0.88847xw:1xh;center,top&resize=1200:*"
        ></v-img>
      </v-list-item-avatar>

      <v-list-item-title>Admin</v-list-item-title>

      <v-btn icon @click.stop="mini = !mini">
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
    </v-list-item>

    <v-divider></v-divider>

    <v-list dense nav>
      <v-list-item-group>
        <router-link :to="item.href" v-for="item in items" :key="item.title">
          <v-list-item link color="primary">
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ $t(item.title) }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<style scoped lang="scss">
.theme--dark.v-navigation-drawer {
  background-color: rgb(39, 39, 39);
  border-color: rgb(39, 39, 39);
}
</style>
