<script>
import { Header } from '../Header';
import { Sidebar } from '../Sidebar';

export default {
  components: {
    TheHeader: Header,
    Sidebar,
  },
};
</script>

<template>
  <main>
    <TheHeader />
    <div class="d-flex">
      <Sidebar />
      <router-view class="content" />
    </div>
  </main>
</template>

<style scoped lang="scss">
@import '@/assets/variables.scss';

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .d-flex {
    flex: 1;
  }
  .content {
    flex: 1;
    height: calc(100vh - $header_height);
    overflow: auto;
  }
}
</style>
