<template>
  <div>
    <bread-crumb :items="breadCrumb" />
    <v-data-table
      :headers="headers"
      :items="userList"
      :items-per-page="5"
      class="elevation-1 table-wrapper"
    ></v-data-table>
  </div>
</template>

<script>
import BreadCrumb from '@/components/BreadCrumb';
export default {
  components: {
    BreadCrumb,
  },
  data() {
    return {
      headers: [
        {
          text: 'ID',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        { text: this.$t('usersManager.name'), value: 'name' },
        { text: this.$t('usersManager.created at'), value: 'createdDate' },
        { text: this.$t('usersManager.username'), value: 'username' },
        { text: this.$t('usersManager.posts'), value: 'posts' },
        { text: this.$t('usersManager.comments'), value: 'comments' },
        { text: this.$t('usersManager.legit'), value: 'legit' },
      ],
      breadCrumb: ['sidebar.users'],
    };
  },
  computed: {
    userList: {
      get() {
        return this.$store.getters['usersManager/usersList'];
      },
    },
  },
  async created() {
    await this.$store.dispatch('usersManager/getUsersList');
  },
};
</script>

<style scoped lang="scss">
.table-wrapper {
  margin: 50px 30px;
}
</style>
