<template>
  <svg
    width="14"
    height="15"
    viewBox="0 0 14 15"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.912 1.99V1.262C9.912 1.094 9.996 0.958666 10.164 0.855999C10.332 0.743999 10.5373 0.688 10.78 0.688C11.032 0.688 11.242 0.743999 11.41 0.855999C11.578 0.958666 11.662 1.094 11.662 1.262V3.208L13.748 4.65C13.8227 4.69667 13.8833 4.76667 13.93 4.86C13.9767 4.944 14 5.03267 14 5.126V8.584C14 8.74267 13.9393 8.878 13.818 8.99C13.706 9.102 13.5707 9.158 13.412 9.158C13.2533 9.158 13.118 9.102 13.006 8.99C12.894 8.878 12.838 8.74267 12.838 8.584V5.434L7 1.388L1.162 5.434V12.938H4.438V10.558C4.438 10.0913 4.55 9.662 4.774 9.27C5.00733 8.878 5.32 8.57 5.712 8.346C6.104 8.11267 6.53333 7.996 7 7.996C7.46667 7.996 7.896 8.11267 8.288 8.346C8.68 8.57 8.988 8.878 9.212 9.27C9.44533 9.662 9.562 10.0913 9.562 10.558V12.938H12.838V11.538C12.838 11.3793 12.894 11.244 13.006 11.132C13.118 11.02 13.2533 10.964 13.412 10.964C13.5707 10.964 13.706 11.02 13.818 11.132C13.9393 11.244 14 11.3793 14 11.538V13.512C14 13.6707 13.9393 13.806 13.818 13.918C13.706 14.0393 13.5707 14.1 13.412 14.1H8.974C8.81533 14.1 8.67533 14.0393 8.554 13.918C8.442 13.806 8.386 13.6707 8.386 13.512V10.558C8.386 10.306 8.32067 10.0727 8.19 9.858C8.06867 9.64333 7.90067 9.47533 7.686 9.354C7.48067 9.22333 7.252 9.158 7 9.158C6.748 9.158 6.51467 9.22333 6.3 9.354C6.09467 9.47533 5.92667 9.64333 5.796 9.858C5.67467 10.0727 5.614 10.306 5.614 10.558V13.512C5.614 13.6707 5.55333 13.806 5.432 13.918C5.32 14.0393 5.18467 14.1 5.026 14.1H0.588C0.429333 14.1 0.289333 14.0393 0.168 13.918C0.056 13.806 0 13.6707 0 13.512V5.126C0 5.03267 0.0233333 4.944 0.07 4.86C0.116667 4.76667 0.177333 4.69667 0.252 4.65L6.664 0.197999C6.76667 0.123333 6.87867 0.0859998 7 0.0859998C7.12133 0.0859998 7.23333 0.123333 7.336 0.197999L9.912 1.99Z"
      fill="#999999"
    ></path>
  </svg>
</template>
