<template>
  <svg
    width="18"
    height="10"
    viewBox="0 0 6 7"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3.65 3.5L1.11 5.8C0.996667 5.91333 0.933333 6.05 0.92 6.21C0.906667 6.37 0.95 6.51333 1.05 6.64C1.15667 6.76 1.28667 6.82667 1.44 6.84C1.6 6.84667 1.74 6.79667 1.86 6.69L4.89 3.94C5.02333 3.82667 5.09 3.68 5.09 3.5C5.09 3.32 5.02333 3.17333 4.89 3.06L1.86 0.31C1.74 0.203333 1.6 0.156666 1.44 0.17C1.28667 0.176666 1.15667 0.243333 1.05 0.37C0.95 0.49 0.906667 0.63 0.92 0.789999C0.933333 0.95 0.996667 1.08667 1.11 1.2L3.65 3.5Z"
      fill="#999999"
    ></path>
  </svg>
</template>
