<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
  >
    <path
      d="M14.336 21.072C13.184 21.072 12.1173 20.784 11.136 20.208C10.176 19.6427 9.41867 18.8853 8.864 17.936C8.288 16.944 8 15.8773 8 14.736C8 13.584 8.288 12.5173 8.864 11.536C9.41867 10.576 10.176 9.81867 11.136 9.264C12.1173 8.688 13.1787 8.4 14.32 8.4C15.472 8.4 16.544 8.688 17.536 9.264C18.4853 9.81867 19.2427 10.576 19.808 11.536C20.384 12.5173 20.672 13.584 20.672 14.736C20.672 15.8773 20.384 16.944 19.808 17.936C19.2427 18.8853 18.4853 19.6427 17.536 20.208C16.544 20.784 15.4773 21.072 14.336 21.072ZM14.336 19.728C15.2427 19.728 16.08 19.4987 16.848 19.04C17.6053 18.6027 18.2027 18.0053 18.64 17.248C19.0987 16.48 19.328 15.6427 19.328 14.736C19.328 13.8293 19.0987 12.9867 18.64 12.208C18.2027 11.4507 17.6053 10.8533 16.848 10.416C16.08 9.95733 15.2427 9.728 14.336 9.728C13.4293 9.728 12.5867 9.95733 11.808 10.416C11.0507 10.8533 10.4533 11.4507 10.016 12.208C9.55733 12.9867 9.328 13.8293 9.328 14.736C9.328 15.6427 9.55733 16.48 10.016 17.248C10.4533 18.0053 11.0507 18.6027 11.808 19.04C12.5867 19.4987 13.4293 19.728 14.336 19.728ZM19.536 20.864C19.3973 20.736 19.328 20.5813 19.328 20.4C19.328 20.2187 19.392 20.064 19.52 19.936C19.6587 19.7973 19.8187 19.728 20 19.728C20.1813 19.728 20.3413 19.792 20.48 19.92L23.808 23.264C23.936 23.392 24 23.5467 24 23.728C24 23.92 23.936 24.08 23.808 24.208C23.68 24.336 23.52 24.4 23.328 24.4C23.1467 24.4 22.992 24.336 22.864 24.208L19.536 20.864Z"
      fill="#505050"
    ></path>
    <path
      d="M8 1H24V-1H8V1ZM31 8V24H33V8H31ZM24 31H8V33H24V31ZM1 24V8H-1V24H1ZM8 31C4.13401 31 1 27.866 1 24H-1C-1 28.9706 3.02944 33 8 33V31ZM31 24C31 27.866 27.866 31 24 31V33C28.9706 33 33 28.9706 33 24H31ZM24 1C27.866 1 31 4.13401 31 8H33C33 3.02944 28.9706 -1 24 -1V1ZM8 -1C3.02944 -1 -1 3.02944 -1 8H1C1 4.13401 4.13401 1 8 1V-1Z"
      fill="white"
    ></path>
  </svg>
</template>
