<template>
  <svg
    width="14"
    height="15"
    viewBox="0 0 14 15"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M7 6.274L4.942 4.216C4.82067 4.09467 4.68067 4.034 4.522 4.034C4.36333 4.034 4.228 4.09467 4.116 4.216C4.004 4.328 3.948 4.46333 3.948 4.622C3.948 4.78067 4.004 4.92067 4.116 5.042L6.174 7.1L4.116 9.158C4.004 9.27933 3.948 9.41933 3.948 9.578C3.948 9.73667 4.004 9.872 4.116 9.984C4.228 10.096 4.36333 10.152 4.522 10.152C4.68067 10.152 4.82067 10.096 4.942 9.984L7 7.926L9.058 9.984C9.17933 10.096 9.31933 10.152 9.478 10.152C9.63667 10.152 9.772 10.096 9.884 9.984C10.0053 9.872 10.066 9.73667 10.066 9.578C10.066 9.41933 10.0053 9.27933 9.884 9.158L7.826 7.1L9.884 5.042C10.0053 4.92067 10.066 4.78067 10.066 4.622C10.066 4.46333 10.0053 4.328 9.884 4.216C9.772 4.09467 9.63667 4.034 9.478 4.034C9.31933 4.034 9.17933 4.09467 9.058 4.216L7 6.274ZM7 14.1C6.048 14.1 5.138 13.918 4.27 13.554C3.43933 13.1993 2.69733 12.6953 2.044 12.042C1.4 11.398 0.900667 10.6607 0.546 9.83C0.182 8.962 0 8.052 0 7.1C0 6.148 0.182 5.238 0.546 4.37C0.900667 3.53933 1.4 2.802 2.044 2.158C2.69733 1.50467 3.43933 1.00067 4.27 0.645999C5.138 0.282 6.048 0.0999997 7 0.0999997C7.952 0.0999997 8.862 0.282 9.73 0.645999C10.5607 1.00067 11.298 1.50467 11.942 2.158C12.5953 2.802 13.0993 3.53933 13.454 4.37C13.818 5.238 14 6.148 14 7.1C14 8.052 13.818 8.962 13.454 9.83C13.0993 10.6607 12.5953 11.398 11.942 12.042C11.298 12.6953 10.5607 13.1993 9.73 13.554C8.862 13.918 7.952 14.1 7 14.1Z"
      fill="#505050"
    ></path>
  </svg>
</template>
