<script>
import { languagesMenu, localeMapping } from '@/configs/locales';

export default {
  data: () => ({
    isOpenLanguageMenu: false,
    languages: languagesMenu,
    isMenuUp: true,
    isOpenAccountMenu: false,
    closeOnContentClick: false,
    isActive: true,
    currentLocale: '',
  }),
  computed: {
    isDarkMode: {
      get() {
        return JSON.parse(localStorage.getItem('darkMode')) || false;
      },
      set(value) {
        localStorage.setItem('darkMode', value);
        this.$vuetify.theme.dark = value;
      },
    },
  },
  methods: {
    handleOpenLanguageMenu() {
      this.isMenuUp = !this.isMenuUp;
    },
    handleChangeLanguage(language) {
      this.$i18n.locale = language;
      localStorage.setItem('language', language);
      this.currentLocale = localeMapping[language];
    },
    handleLogout() {
      console.log('logout');
    },
  },
  created() {
    this.$vuetify.theme.dark = this.isDarkMode;
    this.$i18n.locale = localStorage.getItem('language') || 'en';
    this.currentLocale = localeMapping[this.$i18n.locale];
  },
};
</script>

<template>
  <div>
    <v-app-bar outlined elevation="0" class="header">
      <v-toolbar-title>Logo Here</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-flex class="d-flex justify-end">
        <v-flex class="d-flex justify-end align-center mr-4">
          <div class="d-flex align-center">
            <v-tooltip bottom color="primary">
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                  <v-icon>mdi-translate</v-icon>
                </v-btn>
              </template>
              <span>{{ $t('header.translations') }}</span>
            </v-tooltip>
            <v-menu
              bottom
              offset-y
              origin="center center"
              transition="scale-transition"
            >
              <template v-slot:activator="{ on, attrs }">
                <button
                  v-bind="attrs"
                  v-on="on"
                  class="d-flex"
                  @click="handleOpenLanguageMenu"
                >
                  <p class="mb-0">{{ currentLocale }}</p>
                  <v-icon v-if="isMenuUp">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </button>
              </template>

              <v-list>
                <v-list-item
                  v-for="item in languages"
                  :key="item.value"
                  @click="handleChangeLanguage(item.value)"
                >
                  <v-list-item-title
                    :class="{ active: currentLocale === item.title }"
                    >{{ item.title }}</v-list-item-title
                  >
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
        </v-flex>

        <v-tooltip bottom color="primary">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on" class="mr-4">
              <v-icon>mdi-bell</v-icon>
            </v-btn>
          </template>
          <span>{{ $t('header.notifications') }}</span>
        </v-tooltip>

        <v-menu
          v-model="isOpenAccountMenu"
          :close-on-content-click="closeOnContentClick"
          :nudge-width="200"
          transition="slide-x-transition"
          offset-y
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-avatar color="red">
                <v-img
                  src="https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg?crop=0.88847xw:1xh;center,top&resize=1200:*"
                />
              </v-avatar>
            </v-btn>
          </template>

          <v-card>
            <v-list>
              <v-list-item link color="primary" class="menu-item">
                <v-list-item-icon>
                  <v-icon>mdi-account-details</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title>{{
                    $t('header.profile')
                  }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-action>
                  <v-switch v-model="isDarkMode" color="green" inset />
                </v-list-item-action>
                <v-list-item-title>{{
                  $t('header.dark mode')
                }}</v-list-item-title>
              </v-list-item>

              <v-divider />
              <v-list-item @click="handleLogout">
                <v-list-item-icon>
                  <v-icon> mdi-logout </v-icon>
                </v-list-item-icon>
                <v-list-item-title>{{ $t('header.logout') }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-card>
        </v-menu>
      </v-flex>
    </v-app-bar>
  </div>
</template>

<style scoped lang="scss">
@import '@/assets/variables.scss';
.header {
  height: $header_height !important;
}
.active {
  color: #1976d2;
}
</style>
