<script>
import { ValidationObserver, ValidationProvider } from '@/plugins/vee-validate';

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },

  data: () => ({
    email: '',
    password: '',
    isVisible: false,
    loader: null,
    isLoading: false,
  }),

  methods: {
    submit() {
      this.$refs.observer.validate();
    },
  },

  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), 3000);

      this.loader = null;
    },
  },
};
</script>

<template>
  <v-flex xs12 sm8 md5>
    <v-card class="elevation-12">
      <v-toolbar dark color="primary" class="d-flex justify-center">
        <v-toolbar-title tag="h4">{{
          'Logo Next OverFLow'.toUpperCase()
        }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text class="v-card-text">
        <template>
          <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
              <validation-provider
                v-slot="{ errors }"
                name="email"
                rules="required|email"
              >
                <v-text-field
                  v-model="email"
                  :error-messages="errors"
                  label="E-mail"
                  placeholder="Enter your e-mail"
                  prepend-inner-icon="mdi-email"
                  outlined
                  required
                />
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="password"
                rules="required|max:12"
              >
                <v-text-field
                  v-model="password"
                  :append-icon="isVisible ? 'mdi-eye' : 'mdi-eye-off'"
                  :counter="12"
                  :error-messages="errors"
                  label="Password"
                  placeholder="Enter your password"
                  prepend-inner-icon="mdi-lock"
                  outlined
                  required
                  class="v-text-field-password"
                  @click:append="isVisible = !isVisible"
                />
              </validation-provider>
            </form>
            <v-card-actions class="d-flex justify-center">
              <v-btn
                depressed
                large
                type="submit"
                :loading="isLoading"
                :disabled="invalid ?? isLoading"
                color="primary"
                width="100%"
                @click="loader = 'isLoading'"
              >
                <v-icon right> mdi-login </v-icon>
                Sign In
              </v-btn>
            </v-card-actions>
          </validation-observer>
          <p class="text-social-action">---- or you can sign in with ----</p>
          <div class="social-action-btns">
            <v-btn
              fab
              outlined
              type="submit"
              color="orange"
              class="social-action-btn"
            >
              <v-icon> mdi-google </v-icon>
            </v-btn>
            <v-btn
              fab
              outlined
              type="submit"
              color="'black'"
              class="social-action-btn"
            >
              <v-icon> mdi-github </v-icon>
            </v-btn>
          </div>
        </template>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<style scoped lang="scss">
.v-card-text {
  margin-top: 8px;
  padding: 24px;
}

.v-text-field-password {
  margin-top: 4px;
}

.text-social-action {
  margin-top: 20px;
  text-align: center;
  opacity: 0.6;
}

.social-action-btns {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-action-btn {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
